.image1{
    background-image:url('image1.1.png');
    background-image:url('image1.png'); 
    
    
    height: 90vh ;
    width: 80%;

}
.image2{
    /* background-image:url('image1.1.png'); */
    /* align-items: center; */

}